__pycache__/
cache/
FL_Backdoor_CV/data
FL_Backdoor_CV/dataset
FL_Backdoor_CV/models
FL_Backdoor_CV/result-with-date
FL_Backdoor_CV/results
FL_Backdoor_CV/saved_models
FL_Backdoor_CV/2024-09-10_22-49-25/
cifar10_mr_-1_-1.pdf
cifar10_mr_1_-1.pdf
cifar10_mr_2_-1.pdf
cifar10_mr_3_-1.pdf
clip_lora.tar.gz
environment.yml
fmnist_mr_-1_-1.pdf
FL_Backdoor_CV/2024-09-10_23-48-45/
FL_Backdoor_CV/2024-09-11_00-15-30/
fmnist_edge_case_-1_-1.pdf
fmnist_neurotoxin_-1_-1.pdf